<div class="server-list">
    <div class="server-list__header">
        <h1 class="server-list__title">{{ 'SERVER_LIST.TITLE' | translate }}</h1>
        <span class="server-list__count">{{ 'SERVER_LIST.COUNT' | translate:{filtered: filteredServers.length, total: servers.length} }}</span>
    </div>

    <div class="server-list__toolbar">
        <div class="server-list__filters">
            <div class="server-list__search">
                <kit-dropdown
                    [options]="searchTypeOptions"
                    [placeholder]="'SERVER_LIST.ALL_FIELDS' | translate"
                    [selectedValue]="selectedSearchType"
                    (selectionChange)="onSearchTypeChange($event)">
                </kit-dropdown>

                <kit-input
                    class="server-list__search-input"
                    [placeholder]="'SERVER_LIST.SEARCH_PLACEHOLDER' | translate"
                    [clearable]="true"
                    (valueChange)="onSearchInput($event)"
                    (cleared)="onSearchCleared()">
                </kit-input>
            </div>

            <kit-dropdown
                [options]="statusOptions"
                [placeholder]="'SERVER_LIST.ALL_STATUSES' | translate"
                [selectedValue]="selectedStatus"
                (selectionChange)="onStatusFilterChange($event)">
            </kit-dropdown>

            <kit-dropdown
                [options]="locationOptions"
                [placeholder]="'SERVER_LIST.ALL_LOCATIONS' | translate"
                [selectedValue]="selectedLocation"
                (selectionChange)="onLocationFilterChange($event)">
            </kit-dropdown>
        </div>

        <div class="server-list__actions">
            <kit-button
                [label]="'SERVER_LIST.ADD_SERVER' | translate"
                variant="primary"
                size="small"
                (buttonClicked)="onAddServer()">
            </kit-button>

            <kit-button
                [label]="'SERVER_LIST.RESTART_SELECTED' | translate"
                variant="secondary"
                size="small"
                [disabled]="!hasSelection"
                (buttonClicked)="onRestartSelected()">
            </kit-button>

            <kit-button
                [label]="'SERVER_LIST.DELETE_SELECTED' | translate"
                variant="danger"
                size="small"
                [disabled]="!hasSelection"
                (buttonClicked)="onDeleteSelected()">
            </kit-button>
        </div>
    </div>

    <div class="server-list__table-wrapper">
        <table class="server-list__table">
            <thead>
                <tr>
                    <th class="col-select">
                        <kit-checkbox
                            [checked]="allSelected"
                            [indeterminate]="someSelected"
                            (checkedChange)="toggleSelectAll($event)">
                        </kit-checkbox>
                    </th>
                    <th class="sortable" (click)="sort('hostname')">
                        {{ 'COMMON.HOSTNAME' | translate }}
                        <kit-icon-sort-asc *ngIf="sortColumn === 'hostname' && sortDirection === 'asc'"></kit-icon-sort-asc>
                        <kit-icon-sort-desc *ngIf="sortColumn === 'hostname' && sortDirection === 'desc'"></kit-icon-sort-desc>
                    </th>
                    <th class="sortable" (click)="sort('ipAddress')">
                        {{ 'COMMON.IP_ADDRESS' | translate }}
                        <kit-icon-sort-asc *ngIf="sortColumn === 'ipAddress' && sortDirection === 'asc'"></kit-icon-sort-asc>
                        <kit-icon-sort-desc *ngIf="sortColumn === 'ipAddress' && sortDirection === 'desc'"></kit-icon-sort-desc>
                    </th>
                    <th class="sortable" (click)="sort('status')">
                        {{ 'COMMON.STATUS' | translate }}
                        <kit-icon-sort-asc *ngIf="sortColumn === 'status' && sortDirection === 'asc'"></kit-icon-sort-asc>
                        <kit-icon-sort-desc *ngIf="sortColumn === 'status' && sortDirection === 'desc'"></kit-icon-sort-desc>
                    </th>
                    <th class="sortable" (click)="sort('location')">
                        {{ 'COMMON.LOCATION' | translate }}
                        <kit-icon-sort-asc *ngIf="sortColumn === 'location' && sortDirection === 'asc'"></kit-icon-sort-asc>
                        <kit-icon-sort-desc *ngIf="sortColumn === 'location' && sortDirection === 'desc'"></kit-icon-sort-desc>
                    </th>
                    <th class="sortable" (click)="sort('os')">
                        {{ 'COMMON.OS' | translate }}
                        <kit-icon-sort-asc *ngIf="sortColumn === 'os' && sortDirection === 'asc'"></kit-icon-sort-asc>
                        <kit-icon-sort-desc *ngIf="sortColumn === 'os' && sortDirection === 'desc'"></kit-icon-sort-desc>
                    </th>
                    <th class="sortable" (click)="sort('cpuCores')">
                        {{ 'COMMON.CPU' | translate }}
                        <kit-icon-sort-asc *ngIf="sortColumn === 'cpuCores' && sortDirection === 'asc'"></kit-icon-sort-asc>
                        <kit-icon-sort-desc *ngIf="sortColumn === 'cpuCores' && sortDirection === 'desc'"></kit-icon-sort-desc>
                    </th>
                    <th class="sortable" (click)="sort('ramGb')">
                        {{ 'COMMON.RAM' | translate }}
                        <kit-icon-sort-asc *ngIf="sortColumn === 'ramGb' && sortDirection === 'asc'"></kit-icon-sort-asc>
                        <kit-icon-sort-desc *ngIf="sortColumn === 'ramGb' && sortDirection === 'desc'"></kit-icon-sort-desc>
                    </th>
                    <th class="sortable" (click)="sort('storageGb')">
                        {{ 'COMMON.STORAGE' | translate }}
                        <kit-icon-sort-asc *ngIf="sortColumn === 'storageGb' && sortDirection === 'asc'"></kit-icon-sort-asc>
                        <kit-icon-sort-desc *ngIf="sortColumn === 'storageGb' && sortDirection === 'desc'"></kit-icon-sort-desc>
                    </th>
                    <th class="sortable" (click)="sort('uptimeHours')">
                        {{ 'COMMON.UPTIME' | translate }}
                        <kit-icon-sort-asc *ngIf="sortColumn === 'uptimeHours' && sortDirection === 'asc'"></kit-icon-sort-asc>
                        <kit-icon-sort-desc *ngIf="sortColumn === 'uptimeHours' && sortDirection === 'desc'"></kit-icon-sort-desc>
                    </th>
                    <th class="col-action"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let server of filteredServers"
                    [class.selected]="isSelected(server.id)">
                    <td class="col-select">
                        <kit-checkbox
                            [checked]="isSelected(server.id)"
                            (checkedChange)="toggleServerSelection(server.id, $event)">
                        </kit-checkbox>
                    </td>
                    <td>
                        <a class="server-list__hostname"
                           [routerLink]="['/servers', server.id]"
                           [innerHTML]="server.hostname | highlight:searchTerm">
                        </a>
                    </td>
                    <td class="mono">{{ server.ipAddress }}</td>
                    <td>
                        <span class="status-badge"
                              [ngClass]="'status-badge--' + server.status">
                            {{ server.status }}
                        </span>
                    </td>
                    <td>{{ server.location }}</td>
                    <td [innerHTML]="server.os | highlight:searchTerm"></td>
                    <td>{{ server.cpuCores }} {{ 'COMMON.CORES' | translate }}</td>
                    <td>{{ server.ramGb }} {{ 'COMMON.GB' | translate }}</td>
                    <td>{{ server.storageGb }} {{ 'COMMON.GB' | translate }}</td>
                    <td>{{ formatUptime(server.uptimeHours) }}</td>
                    <td class="col-action">
                        <kit-button
                            [label]="'COMMON.VIEW' | translate"
                            variant="secondary"
                            size="small"
                            (buttonClicked)="navigateToDetail(server.id)">
                        </kit-button>
                    </td>
                </tr>
                <tr *ngIf="filteredServers.length === 0">
                    <td colspan="11" class="server-list__empty">
                        <ng-container *ngIf="searchTerm; else noFilterMatch">
                            {{ 'SERVER_LIST.EMPTY.NO_SEARCH_RESULTS' | translate:{term: searchTerm} }}
                            {{ 'SERVER_LIST.EMPTY.TRY_DIFFERENT' | translate }}
                            <a class="server-list__clear-link"
                               tabindex="0"
                               (click)="clearAllFilters()"
                               (keydown.enter)="clearAllFilters()">{{ 'SERVER_LIST.EMPTY.CLEAR_FILTERS_LINK' | translate }}</a>.
                        </ng-container>
                        <ng-template #noFilterMatch>
                            {{ 'SERVER_LIST.EMPTY.NO_FILTER_MATCH' | translate }}
                            <a *ngIf="hasActiveFilters"
                               class="server-list__clear-link"
                               tabindex="0"
                               (click)="clearAllFilters()"
                               (keydown.enter)="clearAllFilters()">{{ 'SERVER_LIST.EMPTY.CLEAR_ALL_FILTERS' | translate }}</a>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
